/* Estilo utilizado para centrar los elementos de las cards  */
.items-center-flex{     
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item-center-title{
    font-family: Source Sans Pro;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color:var( --color-gris-oscuro)

}
.item-center-text{
    font-family: Source Sans Pro;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;

    line-height: 130%;
    letter-spacing: 0%;
    color: #767676;
}