/* Tabs */
.tab-active {
    border-bottom: 3px solid #cb801b;
    font-weight: bold !important;
}
.tab_text {
    font-family: Source Sans Pro;
    cursor: pointer;

    font-style: Regular;
    font-size: 22px;
    color: var(--color-gris-oscuro);
    line-height: 100%;
    letter-spacing: 0%;
    transition: all 0.2s;
}
.tab-inactive {
    border-bottom: none;
    font-weight: 400 !important;
    cursor: pointer;
    font-size: '1.2rem';
    color: #474747;
}
/* Tabs */
.swiper-festividades {
    width: 100%;
    max-width: fit-content;
    gap: 48px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    /* max-width: 660px; */
}

.swiper-festividades .swiper-pagination {
    margin-bottom: -60px;
}

.container-card-colab {
    gap: 16px;
    width: 200px;
    height: 362px;
    border-radius: 8px 8px 0 0;
}


/* .swiper-festividades {
  width: 100%;
  max-width: 1200px;
  height: auto;
  padding: 0 24px;
} */
.container_festividades_cards_tree {
    display: flex;
    justify-content: center;

    flex-direction: row;
}

.container-card-colab {
    width: 200px;
    height: 362px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
}

.colab {
    border-radius: 8px;
}

.linea_festividades_cumpleanios {
    width: 100%;
    height: 1px;
    background-color: #CB801B;
}

.card_festividades_cumpleanios_contenedor {
    width: 199.56px;
    justify-content: flex-start;
    height: auto;
    opacity: 1;
    gap: 7px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.card_festividades_cumpleanios_contenedor_imagenes {
    background-color: #ededee;
    width: 199.57px;
    height: 200px;
    border-radius: 8.05px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.img-festividades {
    width: auto;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.card_festividades_cumpleanios_font {
    font-family: var(--font-festividades);
}


.card_festividades_cumpleanios {
    align-items: center;
    display: flex;
    justify-content: left;
    gap: 7px;
    width: 199.57px;
    height: 28px;
}
.card_festividades_cumpleanios_title {
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #295135;
    margin: 0 !important;
    white-space: nowrap; /* No permite que el texto se divida en varias líneas */
    text-overflow: ellipsis;
    overflow: hidden;
}

.card_festividades_cumpleanios_icon {
    width: 28px;
    height: 28px;
    color: var(--color-verde-oscuro);
}

.card_festividades_cumpleanios_span {
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #474747; /*cambiar por var*/
    white-space: nowrap; /* No permite que el texto se divida en varias líneas */
    text-overflow: ellipsis;
    overflow: hidden;
}

.card_festividades_cumpleanios_areas_branch {
    font-weight: 400;
    font-size: 14px;
    line-height: 110.00000000000001%;
    color: #474747;
    margin: 0 !important;
}

/* Ocultar los botones por defecto de Swiper */
.swiper-festividades .swiper-button-next,
.swiper-festividades .swiper-button-prev {
    display: none !important;
}

.arrow2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Centra verticalmente */
    width: 40px; /* Ancho de la flecha */
    height: 40px; /* Alto de la flecha */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    border-radius: 50%; /* Hace que el botón sea circular */
    display: flex; /* Para centrar el contenido (ej. un icono) */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10; /* Asegura que estén por encima de las diapositivas */
    border: none; /* Elimina el borde por defecto del botón */
    outline: none; /* Elimina el outline al hacer clic/foco */
    transition: background-color 0.3s ease; /* Transición suave al pasar el mouse */
}

.arrow2--prev1 {
    left: -50px; /* Posiciona a la izquierda */
    /* Puedes añadir una imagen de fondo para la flecha o un icono */
    background-image: url('/assets/arrow-back.png'); /* Ruta a tu imagen de flecha izquierda */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px; /* Tamaño del icono dentro del botón */
    background-color: white;
}

.arrow2--prev1 {
    opacity: 0.5;
}

.arrow2--next1,
.arrow2--prev1 {
    border-radius: 50px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para la flecha de "siguiente" */
.arrow2--next1 {
    right: -50px; /* Posiciona a la derecha */
    /* Puedes añadir una imagen de fondo para la flecha o un icono */
    background-image: url('/assets/arrow-next.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px; /* Tamaño del icono dentro del botón */
    background-color: white;
}

.arrow2:hover {
    opacity: 1;
}
