.carrusel-recursos-container {
  width: 100%;
  max-width: 897px;
  margin: 50px auto;
}

.recursos-card {
  width: 100%;
  max-width: 239px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.prod-rel-text {
  width: 100%;
}

.prod-rel-text p {
  font-size: 20px;
  font-family: var(--font-source-sans-pro);
  line-height: 100%;
  font-weight: 400;
  color: #295135;
  text-align: center;
  vertical-align: middle;
  margin: 0 !important;
}

.carrusel-recursos-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
}

.carrusel-recursos-icon img {
  height: 100%;
  object-fit: cover;
}


.swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}