.container_padre{
    max-width:968.82px ;
    /* mheight: fit-content; */
    width: 100%;
    margin: 0 auto;
}

.container_Cards {
    display: grid;
    /* column-gap: 73.06px; */
    gap: 73.06px;
    grid-template-columns: repeat(3,274.24px);
    height: 381.8282470703125px;
    
    /* padding: 10px;  */
    justify-content: center;
    align-items: center;
   
    }

.container_Cards > .cards {
    border: none; 
    outline: none;

    /* padding: 20px;  */
    font-size: 30px;
    text-align: center;
    /* margin: 10px 0; */
    width: 274.24px;
    height: 381.83px;
      
}
.cards > .cards-figure {
    height: 200px;
    width: 200px;
    margin: 0;
    border-radius: 10px;
    overflow: hidden; 
}

.cards-figure > .cards-imagen {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    display: block;
}


 .cards-content > .title{
    font-family: var(--font-source-sans-pro);
    font-weight: 700;  
    font-size: 20px;
    line-height: 140%;
    word-spacing:5.81px;
    white-space: nowrap; /* No permite que el texto se divida en varias líneas */
    text-overflow: ellipsis;
    overflow: hidden;
   margin: 15px;;
    letter-spacing: 0%;
    color: #474747;


}

 .cards-content > .parrafo{
    font-size: 16px;
    text-transform: uppercase;
    line-height: 120%;
    word-spacing:5.81px;
    margin-top: 5px;
          font-family: var(--font-source-sans-pro);
    font-weight: 700;  
    text-align:left;
    letter-spacing: 0%;
    color: #474747;
margin:15px;
}

.cards >  .cards-content >   .cards_linea{
    width: 274.24px;
    border: 1px solid #538F61;
}

