
/* Estilos bajo la clase principal card-generico para evitar conflictos */
.card-generico .empty-card-hhrr {
    gap: 24px;
    width: 245px;
    height: 174px;
    background-color: #F6F6F6; /* Color de fondo para que se vea la tarjeta vacía */
    margin: 0 !important;
    flex-direction: column;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: left;
    padding: 16px;
}

.card-generico .empty-card-hhrr h3 {
    margin: 0 !important;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 46px;
    font-weight: bold;
    text-align: left;
    font-family: var(--font-source-sans-pro);
    font-size: 18px;
    color: var(--color-gris-oscuro);
}

.card-generico .empty-card-hhrr img {
    margin: 0.25rem;
    height: 64px;
    width: 64px; /* Esto mantiene la proporción de la imagen */
    object-fit: contain; /* Ajusta la imagen sin deformarla */
}

/* Contenedor de las tarjetas dentro del carrusel */
.card-generico .card-container-hhrr {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent!important; /* Asegura que el fondo no afecte el diseño */
}

